body, html {
	margin: 0;
	background-color: rgb(24, 22, 22);
	font-size: 19px;
	width: 100%;
}
header {
	display: block;
	width: 100%;
}
.banner {
	background-image: url("https://www.pbtech.com/fileslib/_20210108145129_Razer_Store_at_PB_Tech.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
.active {
	color: #44d62c;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 3px;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
}
li {
	float: left;
	font-size: 18px;
}
li a {
	display: block;
	color: rgba(255, 255, 255, 0.966);
	text-align: center;
	font-size: 20px;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
h1 {
    font-size: 2em;
    padding: 10px;
    margin: 15px;
	color: rgba(255, 255, 255, 0.966);
}
h2,h3 {
    font-size: 1.8em;  
	color: #44d62c;
}
main {
	padding-left: 10px;
}
main a {
	color: #2f3ec2;
	text-decoration: none;
}
main a:hover {
	color: #44d62c;
	text-decoration: underline;
}
figure {
	padding: 10px;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 30%;
	border: 1px solid #44d62c;
}
figcaption {
	font-size: 90%;
	color: rgba(255, 255, 255, 0.966);
	text-align: left;
}
button {
	margin: 16px 0px;
	background-color: black;
	color: #44d62c;
	cursor: pointer;
	padding: 12px 17px;
    border-radius: 4px;
	font-size: 17px;
	float: inline-end;
	position: relative;
}
img {
	width: 100%;
}
#pg {
    padding-left: 15px;
}
.gallery-image {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
} 
.gallery-image img {
height: 450px;
width: 420px;
transform: scale(1.0);
transition: transform 0.4s ease;
}
.img-box {
box-sizing: content-box;
margin: 10px;
height: 450px;
width: 420px;
overflow: hidden;
display: inline-block;
color: white;
position: relative;
background-color: white;
}
.caption {
position: absolute;
bottom: 5px;
left: 25px;
opacity: 0.0;
font-size: 30px;
color: rgb(255, 255, 255);
transition: transform 0.3s ease, opacity 0.3s ease;
}
.transparent-box {
height: 100px;
width: 450px;
background-color:rgba(0, 0, 0, 0);
position: absolute;
bottom: 0;
left: 0;
transition: background-color 0.3s ease;
}
.img-box:hover img { 
transform: scale(1.1);
}
.img-box:hover .transparent-box {
background-color:rgba(0, 0, 0, 0.5);
}
.img-box:hover .caption {
transform: translateY(-20px);
opacity: 1.0;
}
.img-box:hover {
cursor: pointer;
}
.caption > p:nth-child(2) {
font-size: 0.8em;
}
.pc {
	float: right;
	width: 455px;
	margin-left: 2px;
	margin-bottom: 5px;
}
.news p {
	padding-left: 15px;
}
.News {
	max-width: 98.5%;
	padding-left: 20px;
}
.news img{
	width: 11%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	color: #44d62c;
	font-size: 1.5em;
	padding-left: 15px;
}
.news hr {
	margin: 1em;
	border: 1px dotted #44d62c;
	clear: both;
	position: relative;
}
hr {
	border-color: #44d62c;
	clear: both;
	position: relative;
}
.news time {
	font-size: 90%;
}
p {
	color: rgba(255, 255, 255, 0.966);
}
.pr {
	padding-left: 18px;
}

#news_gallery {
	float: left;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid #44d62c;
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: center;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#contact {
	margin: 1em
}
label {
	display: block;
	color:#44d62c;
}
input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #44d62c;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-size: 95%;
}
input[type=button], input[type=submit] {
	display: block;
	background-color: #44d62c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
	width: 22%;
	font-size: 16px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #44d62c;
}
footer {
	background-color: rgb(0, 0, 0);
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}
video {
	margin: 0 1em 1em 1em;
	float: left;
}

@media only screen and (max-width: 600px) {
    article {
        width: 200px;
    }
}
@media only screen and (min-width: 1200px) {
    article {
        width: 800px;
    }
}
