body, html {
	margin: 0;
	background-color: rgb(24, 22, 22);
	font-size: 19px;
	width: 100%;
}
header {
	display: block;
	width: 100%;
}
.banner {
	background-image: url("https://www.pbtech.com/fileslib/_20210108145129_Razer_Store_at_PB_Tech.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
.active {
	color: #44d62c;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 3px;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
}
li {
	float: left;
	font-size: 18px;
}
li a {
	display: block;
	color: rgba(255, 255, 255, 0.966);
	text-align: center;
	font-size: 20px;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
h1 {
    font-size: 2em;
    padding: 10px;
    margin: 15px;
	color: rgba(255, 255, 255, 0.966);
}
h2,h3 {
    font-size: 1.8em;  
	color: #44d62c;
}
main {
	padding-left: 10px;
}
main a {
	color: #2f3ec2;
	text-decoration: none;
}
main a:hover {
	color: #44d62c;
	text-decoration: underline;
}
figure {
	padding: 10px;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 30%;
	border: 1px solid #44d62c;
}
figcaption {
	font-size: 90%;
	color: rgba(255, 255, 255, 0.966);
	text-align: left;
}
button {
	margin-bottom: 15px;
	background-color: black;
	color: #44d62c;
	cursor: pointer;
	padding: 12px 17px;
    border-radius: 4px;
	font-size: 17px;
}
img {
	width: 100%;
}
#pg {
    padding-left: 15px;
}
footer {
	background-color: rgb(0, 0, 0);
	padding: 0.1em;
	clear: both;
}
footer p {
	text-align: center;
	margin: 0.4em;
	font-size: 19px;
}
footer img {
	width: 20px;
}
.pc {
	float: right;
	width: 455px;
	margin-left: 2px;
	margin-bottom: 5px;
}
.news p {
	padding-left: 15px;
}
.News {
	max-width: 98.5%;
	padding-left: 20px;
}
.news img{
	width: 11%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.news h2 {
	color: #44d62c;
	font-size: 1.5em;
	padding-left: 15px;
}
.news hr {
	margin: 1em;
	border: 1px dotted #44d62c;
	clear: both;
	position: relative;
}
hr {
	margin: 1em;
	border-color: #44d62c;
	clear: both;
	position: relative;
}
.news time {
	font-size: 90%;
}
p {
	color: rgba(255, 255, 255, 0.966);
}
.pr {
	padding-left: 18px;
}
#gallery figure {
	padding: 0.3em;
	margin: 0 1em 0.7em 1em;
	float: left;
	width: 22%;
	border: 1px solid #44d62c;
}
#gallery figcaption {
	font-size: 90%;
	height: 60px;
	text-align: center;
}
#news_gallery {
	float: left;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid #44d62c;
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: center;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#contact {
	margin: 1em
}
label {
	display: block;
	color:#44d62c;
}
input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #44d62c;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-size: 95%;
}
input[type=button], input[type=submit] {
	display: block;
	background-color: #44d62c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
	width: 22%;
	font-size: 16px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #44d62c;
}
footer {
	background-color: rgb(0, 0, 0);
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}
video {
	margin: 0 1em 1em 1em;
	float: left;
}

@media only screen and (max-width: 600px) {
    article {
        width: 200px;
    }
}
@media only screen and (min-width: 1200px) {
    article {
        width: 800px;
    }
}
